[push]
	default = matching
[core]
	editor = vim
	fileMode = false
	trustctime = false
	whitespace = cr-at-eol
[color]
	ui = true
[credential]
	helper = cache
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[rebase]
	autoStash = true
[pull]
	rebase = true
[alias]
	last = log -1 --stat
	ca = commit --amend
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status
	br = branch
	rb = rebase
	rbc = rebase --continue
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	pom = pull --rebase origin master
	pushom = push origin master
	pullom = pull --rebase origin master
	logg = log --graph
	wc = whatchanged
	wcp = whatchanged -p
	pr = "!f() { git fetch -fu ${2:-$3} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[author]
	name = Kamil Dąbrowski
	email = kamil@namekdev.net
[user]
	name = Namek
	email = kamil@namekdev.net
